<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>服药提醒</title>
		<script src="./css/js/mui.min.js"></script>
		<link href="./css/css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
		<!-- https://fonts.google.com/specimen/Roboto -->
		<link rel="stylesheet" href="./css/css/fontawesome.min.css" />
		<!-- https://fontawesome.com/ -->
		<link rel="stylesheet" href="./css/css/bootstrap.min.css" />
		<!-- https://getbootstrap.com/ -->
		<link rel="stylesheet" href="./css/css/templatemo-style.css">

		<link rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
		<link rel="stylesheet" type="text/css" href="./act_banner/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="./act_banner/css/htmleaf-demo.css">
		<link rel="stylesheet" href="./act_banner/css/style.css">
<!-- TODO01 -->
		<link rel="stylesheet" href="./css/css/style.css">
		<!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
	</head>

	<body id="reportsPage">
		<nav class="navbar navbar-expand-xl">
			<div class="container h-100">
				<a class="navbar-brand" href="index.html">
					<h1 class="tm-site-title mb-0">Medicine On Time</h1>
				</a>
				<button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<i class="fas fa-bars tm-nav-icon"></i>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto h-100">
						<li class="nav-item">
							<a class="nav-link" href="index.html">
								<i class="ui bolt icon"></i>
								主页
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item dropdown">

							<a class="nav-link dropdown-toggle  active" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="ui clock icon"></i>
								<span>
									健康服药 <i class="fas fa-angle-down"></i>
								</span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">服药提醒</a>
								<a class="dropdown-item" href="#">服药记录</a>
								<a class="dropdown-item" href="products.html">药品箱</a>
								<a class="dropdown-item" href="#">智能药盒</a>

							</div>
						</li>

						<!--        <li class="nav-item">
    				    <a class="nav-link" href="accounts.html">
    				        <i class="ui user icon"></i>
    				        个人账户
    				    </a>
    				</li> -->

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="ui setting icon"></i>
								<span>
									设置 <i class="fas fa-angle-down"></i>
								</span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="accounts.html">帮助中心</a>
								<a class="dropdown-item" href="accounts.html">功能介绍</a>
								<a class="dropdown-item" href="#">我要反馈</a>
								<a class="dropdown-item" href="#">关于我们</a>
							</div>
						</li>



					</ul>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link d-block" href="accounts.html">
								<img class="ui avatar image" src="./images/avatar_demo02.png">
								<b>Lucy</b>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- --------------------------TODO01------------------------------ -->

		<div class="app-container" id="taskList" style="
		margin-bottom: 20%;
		margin-top:10%;
		margin-left: 40%;
		background-color: rgba(97,103,122,0.8);
		">
			<h1 class="app-header">服药提醒</h1>
			<!-- 选择日期 -->
			<input type="datetime-local" value="" />

			<!-- 添加待办 -->
			<div class="add-task">
				<input type="text" autocomplete="off" placeholder="eg: 每日三次鱼肝油..." v-model="tasks.name"
					@keyup.enter="newItem" class="task-input" style="height: 40px;">
				<input type="submit" value="" class="submit-task" @click="newItem" title="Add Task">
			</div>
			<ul class="task-list">
				<li class="task-list-item" v-for="task in tasks">
					<label class="task-list-item-label">
						<input type="checkbox">
						<span>{{task.name}}</span>
					</label>
					<span @click="delItem(task)" class="delete-btn" title="Delete Task">{{task.del}}</span>
				</li>
			</ul>
		</div>

		<!-- --------------------------TODO01------------------------------ -->

		<footer class="tm-footer row tm-mt-small">
			<div class="col-12 font-weight-light">
				<p class="text-center text-white mb-0 px-4 small">
					Copyright &copy; <b>2021</b> All rights reserved.

					Design: <a rel="nofollow noopener" href="#" class="tm-footer-link">药准时</a>
				</p>
			</div>
		</footer>

<!-- --------------------------------------------------------SCRIPTS---------------------------------------------------------------------- -->
		<!-- todo01 -->
		<script src='./js/vue.min.js'></script>
		<script src="./js/todo01.js"></script>
		
		
		<script src="js/jquery-3.3.1.min.js"></script>
		<!-- https://jquery.com/download/ -->
		<script src="js/bootstrap.min.js"></script>
		<!-- https://getbootstrap.com/ -->
		<script>
			$(function() {
				$(".tm-product-name").on("click", function() {
					window.location.href = "edit-product.html";
				});
			});
		</script>
	</body>
</html>
